<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="{{ '/assets/css/404.css' | prepend: site.baseurl }}">
    </head>
    <body>
        <div class="blank-page">
        <a href="{{ '/' | prepend: site.baseurl }}" class="go-home">↩️ GO HOME</a>
        <div class="not-found-msg">
            <h1 class="sour-face">`Φ ⌒ `Φ </h1>
        </div>
        </div>
    </body>
    <script src="{{ '/assets/js/404.js' | prepend: site.baseurl }}"></script>
</html>